[Desktop Entry]
Comment=The only dark theme I want
Name=Aritim-Dark
X-KDE-PluginInfo-Author=Mrcuve0
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=puof@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Aritim-Dark
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=https://.github.com/Mrcuve0
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://wallpaper.knsrc/api.kde-look.org/1291306,kns://wallpaper.knsrc/api.kde-look.org/1272202,kns://lookandfeel.knsrc/api.kde-look.org/1281836,kns://colorschemes.knsrc/api.kde-look.org/1280295,kns://plasma-themes.knsrc/api.kde-look.org/1309107,kns://plasmoids.knsrc/api.kde-look.org/1199712,kns://plasmoids.knsrc/api.kde-look.org/998895,kns://plasmoids.knsrc/api.kde-look.org/998901,kns://plasmoids.knsrc/api.kde-look.org/1271237
